<nav class="navbar bg-dark navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Grocery🛒 | Checklist</a>
      <div class="ms-auto">
        {% if user.is_authenticated %}
          <a href="{% url 'logout_user' %}" class="btn btn-danger">Log out</a>
        {% else %}
          <a href="{% url 'sign_up' %}" class="btn btn-primary">Sign up</a>
          <a href="{% url 'login_page' %}" class="btn btn-success">Log in</a>
        {% endif %}
      </div>
    </div>
</nav>