{% extends 'base.html' %}
{% block title %}All Items{% endblock %}
{% block content %}
    <div style="padding-bottom: 100px;">
        <h2> Welcome , {{ request.user.first_name }} :)</h2>
        <br>
        <h1>All Items </h1>
        
        <a href="{% url 'create_items' %}" class="btn btn-primary mb-3">Create New Item</a>
        
        <ul class="list-group">
            {% for item in items %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5>{{ item.name }}</h5>
                        <p>{{ item.description }}</p>
                        <p>{{ item.price }}</p>
                        <p>Created at: {{ item.created_at }}</p>
                        
                    </div>
                    <div>
                        <a href="{% url 'update_items' item.id %}" class="btn btn-warning btn-sm">Update</a> <br><br>
                        <a href="{% url 'delete_items' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
